@import '~antd/dist/antd.css';
#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}
.example-input .ant-input {
    width: 200px;
    margin: 0 8px 8px 0;
}